/* LOGIN PAGE */
.login-container {
    margin: 50px auto 0;
    width: 50%;
    height: 100vh;

    @include respond(phone) {
        width: 90%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    p {
        line-height: 1.4;
    }
}

.login-heading {
    padding: 30px;
    font-size: 1.2rem;
}

.login-heading h1 {
    margin: 40px 0;
    font-weight: 600;

        @include respond(phone) {
                margin: 20px;
            }
}

.login-register span {
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    border-bottom: 2px solid $color-burgundy;

}