/* REGISTER PAGE */

.register-container {
    margin: 50px auto;
    width: 50%;

}

.register-heading {
    padding: 30px;
    font-size: 1.2rem;
}

.register-heading h1 {
    margin: 20px 0;
    font-weight: 600;
}