// Colors
$color-yellow: #FFB84C;
$color-purple-light: #B38FFB;
$color-burgundy: #6F204D;
$color-light: #e6e6e6;
$color-grey-light: #c6c4c4;


// Shadows
$box-shadow-1: rgba(0, 0, 0, 0.15);
$box-shadow-btn-hover: rgba(0, 0, 0, 0.2);
$box-shadow-btn-active: rgba(0, 0, 0, 0.1);