*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;

    @include respond(big-desktop) {
        font-size: 100%;
    }

    @include respond(laptop) {
        font-size: 80%;
    }

    @include respond(tab-land) {
        font-size: 75%;
    }

    @include respond(tab-port) {
        font-size: 70%;
    }
}

body {
    font-family: 'Roboto Mono', monospace;
    height: fit-content;
    // overflow: hidden;
    box-sizing: border-box;

    @include respond(tab-land) {
        padding: 0;
    }
}

/* MAIN CONTAINER */
.container {
    width: 100%;
    color: $color-burgundy;
    background-color: $color-purple-light;
    max-width: 1800px;
    margin: auto;
    padding: 0 20px;
    text-align: center;
    height: 100%;
    // border-radius: 10px;
}

a {
    text-decoration: none;
}
